.mx-logo {
  width: 150px;
  color: orange;
  display: flex;
  align-self: flex-start;
  font-size: 50px;
  font-style: oblique;
  font-weight: 900;
  line-height: 100%;
  position: relative;

  div {
    align-self: flex-start;
    font-size: 20px;
    line-height: 105%;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 6.2px;
    left: 86px;

    span:nth-child(1) {
      padding-left: 6px;
    }
    span:nth-child(2) {
      color: orange;
    }
  }
}
