@import "src/styles/imports/variables.scss";

.category {
  &__header {
    padding: 5px;
    background: $color-brand;
    text-align: center;
    font-size: 18px;
  }

  .part-number {
    font-size: 12px;
    color: $color-gray-4;
    padding-left: 10px;
  }

  .item {
    &__buy {
      display: flex;
      justify-content: center;
      align-items: center;
      .buy__input {
        width: 64px;
        margin-right: 5px;
      }
    }
  }

  .ant-table-cell {
    padding: 5px !important;
  }
}