@import "../../../../../../styles/imports/variables";

.point-item {
  padding: 10px 5px;
  margin-bottom: 10px;
  @extend %window-style;

  &__address {
    padding: 5px 0;
    font-size: 12px;
  }
}
