@import "src/styles/imports/variables";

.Product {
  padding: 20px 25px 20px 20px;
  align-items: center;
  position: relative;
  font-size: 13px;
  border-bottom: $border;

  &:last-child {
    border-bottom: 0;
  }

  &__content {
    padding-left: 10px;
    flex: 1;
  }

  &__title {
    font-size: 14px;
    text-transform: uppercase;
  }

  &__description {
    padding: 4px 0;
    color: $color-gray-4;
  }

  &__img-wrapper {
    width: 64px;
    height: 64px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__remove {
    position: absolute;
    top: calc(50% - 8px);
    right: 2px;
    border: 0;
    color: $color-red;

    &:hover {
      color: $color-red !important;
    }
  }
}
