@import "../../styles/imports/variables";

.modal-maps {
  display: flex;
  height: 100%;
  justify-content: space-between;

  &__list {
    width: 260px;
    margin-right: 20px;
  }

  .maps {
    flex: 1;
  }
}
