@import "../../styles/imports/variables";

.cart-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 864px;

  .cart {
    min-height: calc(100vh - 40px);
    @extend %window-style;

    &__header {
      background: #000;
      padding: 0 20px;
    }

    &__main {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__message {
      text-align: center;
    }

    &__list {
      flex: 1;
      margin-right: 20px;
    }

    .order {
      height: min-content;
      width: 240px;
      padding: 10px 15px;
      @extend %window-style;

      &__content {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total {
          &__price {
            font-weight: 500;
            font-size: 22px;
          }
        }
      }
    }
  }
}
