@import "../../styles/imports/variables";

.cart {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__messege {
    text-align: center;
  }

  &-list {
    flex: 1;
    margin-right: 20px;
  }

  .cart-item {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    @extend %window-style;

    &__title {
      width: calc(100% - 30px);
      font-size: 22px;
      text-transform: uppercase;
    }

    &__description {
      padding-top: 5px;
      color: rgb(116, 116, 116);
    }

    &__img-wrapper {
      width: 96px;
      height: 96px;
      border-radius: 6px;
      overflow: hidden;
      border: 1px rgb(220, 220, 220) solid;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__content {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }

    &__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;

      & > span {
        padding-top: 5px;
      }
    }

    &__qty {
      padding-left: 10px;
      display: flex;
      align-items: center;
      color: rgb(116, 116, 116);

      span {
        padding-right: 5px;
      }
    }
  }

  &-order {
    height: min-content;
    width: 220px;
    padding: 10px 15px;
    @extend %window-style;

    &__content {
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .total {
    &__price {
      font-weight: 500;
      font-size: 22px;
    }
  }
}
