@import "src/styles/imports/variables";

.btn--gree {
  background: rgb(74, 247, 74);
  color: #fff;
  &:hover {
    background: rgb(91, 255, 91);
  }
}

.btn--show-drawer {
  height: 48px;
  border-radius: 0;
  &:hover {
    background: $color-gray-9;
  }
}

.btn--large {
  height: auto;
  width: 100%;
  padding: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn--remove-product {
  position: absolute;
  top: calc(50% - 8px);
  right: 2px;
  color: $color-red;
}