.container {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}

.content-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
}

.wrapper-colum {
  display: flex;
  flex-direction: column;
}

.wrapper-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color: #000000, $alpha: 0.6);
  z-index: 3;
}
