@import "../../styles/imports/variables";

.content {
  margin-left: 40px;
  margin-right: 40px;
  flex: 1;

  &__bread-crumbs {
    padding-bottom: 20px;
  }

  .products {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);

    &__item {
      width: 240px;
      height: 100%;
      margin: 5px;
      cursor: pointer;
      @extend %window-style;

      .ant-card-body {
        padding: 10px;
      }

      .ant-card-head-title {
        padding: 5px;
      }

      .product__text {
        max-height: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 12px;
        font-weight: 500;

        .text__item {
          padding: 2px 10px;
          text-align: center;
        }
      }
    }
  }
}
