.header {
  padding-left: 60px;
  padding-right: 60px;
  height: 48px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 20px;
  }

  .cart-link {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &:hover {
      background: rgb(29, 29, 29);
    }
    
    &__icon {
      font-size: 28px;
      color: white;
    }
  }
}
