.header {
  padding-left: 60px;
  padding-right: 60px;
  height: 48px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 20px;
  }

  .cart-link-icon {
    font-size: 28px;
    color: white;
  }
}
