.header {
  padding-left: 60px;
  padding-right: 60px;
  height: 48px;
  background: black;
  color: white;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .cart-link-icon {
    font-size: 30px;
    color: white;
  }
}
