@import "src/styles/imports/variables";
@import "src/styles/imports/templates";

.ProductsInfo {
  grid-row-start: span 2;
  @extend %window;
  
  &__title {
    padding: 20px;
  }
  
  &__list {
    flex: 1;
    padding: 10px 20px;
    border-top: $border;
    border-bottom: $border;
    overflow-y: auto;
  }
  
  &__footer {
    padding: 20px;
    font-size: 18px;
  }
}
