.sidebar {
  width: 250px;
  margin-right: 10px;

  &__menu {
    width: 250px;
    height: 100%;

    .menu__select {
      display: flex;
      justify-content: space-between;
    }
  }

  &__select {
    width: 100%;
  }
}
