@import "src/styles/imports/templates";

.getting-pickup {
  @extend %window;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &__info {
    display: flex;
    flex-direction: column;
    & > * {
      margin-bottom: 15px;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }
}
