@import "src/styles/imports/variables";

.Product {
  padding: 10px 0;
  position: relative;

  &__content {
    padding: 10px 0 10px 15px;
    padding: 10px 15px;
    justify-content: space-around;
    flex: 1;
  }

  &__title {
    font-size: 14px;
    text-transform: uppercase;
  }

  &__description {
    font-size: 12px;
    color: $color-gray-4;
  }

  &__price {
    font-size: 14px;
  }

  &__img-wrapper {
    width: 96px;
    height: 96px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__application {
    align-items: flex-end;
  }

  &__counter {
    height: 24px;
    margin-bottom: 10px;
    align-items: center;
    line-height: 16px;
    font-size: 16px;
    border: $border;
    border-radius: $border-radius;
    overflow: hidden;

    span {
      min-width: 20px;
      text-align: center;
    }
  }
}
