@import "src/styles/imports/variables";
@import "src/styles/imports/templates";

.product {
  @extend %window;
  padding: 40px;

  .product-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  &-container-main {
    flex: 1;
  }

  &-container-img {
    min-width: 320px;
    width: 50%;
    margin-right: 30px;
    img {
      width: 100%;
    }
  }

  &__header {
    margin-bottom: 20px;
  }

  &__row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    font-size: 32px;
  }

  &__number {
    color: $color-gray-5;
    font-size: 16px;
    font-weight: normal;
  }

  &__qty {
    display: flex;
    align-items: center;
    margin-right: 20px;

    & > *:first-child {
      margin-right: 10px;
    }
  }

  &__buy-input {
    max-width: 80px;
  }

  .price {
    font-size: 18px;
    font-weight: 500;
  }

  .fit {
    padding: 8px;
    justify-content: start;
    background: $color-green-2;
    color: $color-white;
    border-radius: $border-radius;

    span {
      padding: 5px;
    }
  }

  .no-fit {
    background: $color-red;
  }

  .details {
    margin-top: 30px;
    flex-direction: column;
    &__title {
      margin-bottom: 10px;
    }

    &__fit-text {
      margin-bottom: 10px;
    }

    &__fit-item {
      color: $color-gray-5;
      font-size: 14px;
    }
  }

  .company-logo {
    height: 40px;
    img {
      height: 100%;
    }
  }

  .icon {
    font-size: 24px;
  }
}
