@import "src/styles/imports/variables";

.modal-maps {
  &__head {
    padding: 15px;
    background: $color-gray-1;
  }

  .modal-maps__body {
    display: flex;
    height: 100%;
    justify-content: space-between;

    .maps {
      flex: 1;
    }
  }

  &__list {
    width: 260px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .ant-modal-content {
    overflow: hidden;
    padding: 0 !important;
  }
}
