@import "src/styles/imports/variables";
@import "src/styles/imports/templates";

.sidebar {
  width: 250px;
  margin-top: 48px;

  &__menu {
    @extend %window;
    margin-bottom: 10px;

    .menu__select {
      display: flex;
      justify-content: space-between;
    }

    .input-price {
      margin-right: 5px;
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .price-dash {
      margin-right: 5px;
      line-height: 32px;
    }

    .ant-menu-item-group-title,
    .ant-menu-submenu-title {
      background: $color-gray-2;
      margin: 0;
      width: 100%;
    }
  }

  &__select {
    width: 100%;
  }

  .select-to-bike-group {
    position: relative;
    z-index: 9;
  }
}
