.drawer {
  &__content {
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .total {
      &__price {
        font-size: 16px;
      }
    }
  }

  &__list {
    margin-top: 20px;
  }
}
