@import "src/styles/imports/variables";

.header {
  height: 48px;
  background: $color-black;
  color: $color-white;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .cart-link-icon {
    font-size: 30px;
    color: $color-white;
  }
}
